<section class="container mt-5">
  <div class="card">
  <div class="row">
    <div class="col-6 text-center">
      <img src="./assets/_img/pokeIcon.png" style="width: 250px;" alt="">
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Elefante</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sit eius, autem optio quis mollitia ad et adipisci ipsa, earum ex, iusto sint! Voluptate doloremque eaque qui veniam sequi dolorem! <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolore dolorem aliquid repellat asperiores iste dolores eius est veritatis ducimus iusto optio facere blanditiis sequi delectus deleniti, corrupti nobis quas?</p>
    </div>
  </div>
</div>
</section>
